ul.sidebar .sidebar-list a:hover,
#page-wrapper:not(.open) ul.sidebar .sidebar-list a:hover span {
    border-left: 3px solid #00a65a;
}
.row.header{
    background-color: #00a65a;
}
ul.sidebar .sidebar-main{
    background-color: #008d4c;
}
